<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> 个人中心</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> 愿望清单</a></li>
                        <li><a href="addcommodity"><i class="fa fa-gavel"></i> 出售商品</a></li>
                        <li><a href="sale"><i class="fa fa-reorder"></i> 出售中的商品</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li >
                            <a href="#"><%=User[0].name%></a>
                        </li>

                        <li >
                            <a href="/logout">退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/home"><img src="/img/logo.png" ></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="/cart">购物车 - <span class="cart-amunt">¥100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count"><%=Carts.length%></span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->
